* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", serif;
  background-image: linear-gradient(to right, rgba(11, 226, 3, 0), rgb(144, 159, 190));
}

header {
  top: 0;
  position: sticky;
  padding: 1.2rem 3rem;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgba(11, 226, 3, 0), rgb(144, 159, 190));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.list-item a {
  font-size: 1.4rem;
  color: #092149;
}

.pop-up {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2% 2%;
  /* height: 100vh; */
  background-color: rgba(0, 0,0, 0.5);
  z-index: 2;
}

.pop-up-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgb(144, 159, 190));
  /* border: solid 2px red; */
  border-radius: 10px;
}

.popUp-top-section {
  /* border: solid 2px blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-btn {
  position: relative;
  align-self: end;
  margin-top: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.popUp-image {
  border: solid 1.5px #fff;
  border-radius: 12px;
  width: 15rem;
  height: 15rem;
}

.popUp-item-image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.popUp-item-sub-title {
  margin-bottom: 0.6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.ingridients-and-measurments {
  /* border: solid 2px red; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  margin: 1.6rem 0;
}

.instructions {
  width: 70%;
}

.instruction-text {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}
.food-source {
  margin: 0.5rem 0;
  width: 65%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1.2rem 3rem;
  background-image: linear-gradient(to right, rgba(11, 226, 3, 0), rgb(144, 159, 190));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footerText {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .popUp-top-section {
    display: flex;
    flex-direction: row;
    gap: 7%;
    padding: 0 3%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3rem;
  }
}