* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", serif;
  background-image: linear-gradient(to right, rgba(11, 226, 3, 0), rgb(144, 159, 190));
}

header {
  top: 0;
  padding: 1.2rem 3rem;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgba(11, 226, 3, 0), rgb(144, 159, 190));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.list-item a {
  font-size: 1.4rem;
  color: #092149;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1.2rem 3rem;
  background-image: linear-gradient(to right, rgba(11, 226, 3, 0), rgb(144, 159, 190));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footerText {
  font-size: 1rem;
}

.homePageContainer {
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  gap: 5vw;

}

.mainItemContainer {
  display: flex;
  width: 20vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.itemContainer {
  width: 15vw;
  display: flex;
  flex-direction: column;
}

.itemImage {
  width: 15vw;
  border: 1px solid transparent;
  border-radius: 10px;
}

.itemImage:hover {
  border: 1px solid black;
}

.itemNameContainer {
  display: flex;
  margin-top: 1.3vh;
  align-items: center;
}

.likesContainer {
  margin-left: auto;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itemName {
  font-size: 1.2vw;
  padding-left: 1vw;
  color: #092149;
}

.heart {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 100%;
  color: #6e6d70;
}

.heart:hover {
 color: rgb(190, 5, 5);
}

.likeCounter {
 color: #092149;
 font-size: 0.7vw;
}

.commentButtonContainer {
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentsButton {
  margin-top: 2vh;
  width: 08vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 1vw;
  background: #6e6d70;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #dfdedf;
  border: 1px solid transparent;
  cursor: pointer;
}

.commentsButton:hover {
  outline: 0;
  border: 1px solid white;
}