* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", serif;
  background-image: linear-gradient(to right, rgba(11, 226, 3, 0), rgb(144, 159, 190));
}

header {
  top: 0;
  position: sticky;
  padding: 1.2rem 3rem;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgba(11, 226, 3, 0), rgb(144, 159, 190));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.list-item a {
  font-size: 1.4rem;
  color: #092149;
}

.pop-up {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2% 2%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}

.pop-up-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgb(144, 159, 190));
  border-radius: 10px;
  animation-name: popupIn;
  animation-duration: 0.5s;
}

@keyframes popupIn {
  0% {
    opacity: 0.4;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.5s;
    transform: scale(0) rotate(500deg);
  }

  50% {
    opacity: 0.7;
    transition: all 0.5s;
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.popUp-top-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-btn {
  position: relative;
  align-self: end;
  margin-top: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.food-name {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.category {
  display: flex;
  justify-content: space-between;
}

.popUp-image {
  border: solid 1.5px #fff;
  border-radius: 12px;
  width: 15rem;
  height: 15rem;
}

.popUp-item-image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.popUp-item-sub-title {
  margin-bottom: 0.6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.ingridients-and-measurments {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  margin: 1.6rem 0;
}

.instructions {
  width: 70%;
}

.instruction-text {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}

.food-source {
  margin: 0.5rem 0;
  width: 65%;
}

footer {
  position: relative;
  bottom: 0;
  padding: 1.2rem 3rem;
  background-image: linear-gradient(to right, rgba(11, 226, 3, 0), rgb(144, 159, 190));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footerText {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .popUp-top-section {
    display: flex;
    flex-direction: row;
    gap: 7%;
    padding: 0 3%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3rem;
  }
.homePageContainer {
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  gap: 5vw;
}

.mainItemContainer {
  display: flex;
  width: 20vw;
  height: 55vh;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.itemContainer {
  width: 15vw;
  display: flex;
  flex-direction: column;
}

.itemImage {
  width: 15vw;
  border: 1px solid transparent;
  border-radius: 10px;
}

.itemImage:hover {
  border: 1px solid black;
}

.itemNameContainer {
  display: flex;
  margin-top: 1.3vh;
  align-items: center;
}

.likesContainer {
  margin-left: auto;

  /* margin-right: 1vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3vw;
}

.itemName {
  font-size: 1.1vw;
  width: 12vw;
  padding-left: 0.5vw;
  color: #092149;
}

.heart {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 100%;
  color: #6e6d70;
}

.heart:hover {
  color: rgb(190, 5, 5);
}

.likeCounter {
  color: #092149;
  font-size: 0.7vw;
}

.commentButtonContainer {
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentsButton {
  margin-top: 2vh;
  width: 08vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 1vw;
  background: #6e6d70;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #dfdedf;
  border: 1px solid transparent;
  cursor: pointer;
}

.commentsButton:hover {
  outline: 0;
  border: 1px solid white;
}
